
#message-form{
  display: flex;
  position: relative;
  top:10px;
  bottom: 10px;
}
#message-input{
  flex: 10;
  border: 1px solid #000000;
  background: none;
  height: 35px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 1px;
  background: rgba(255, 255, 255, 0.438);
}

#message-input::placeholder{
    color: black;
    font-weight: 350;
    font-size: 0.9rem;
}

#message-send{
  flex: 1;
  color:white;
  border:none;
  border-radius: 0px;
  background-color: #000;
  -webkit-appearance: none;
    -moz-appearance: none;
  transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

.message-sender{
    max-width: 350px;
    border-radius: 10px;
    background: rgb(236, 203, 12);
    padding: 10px 10px 10px 10px;
    font-size: 0.8em;
    word-wrap: break-word;
    margin-bottom: 10px;
    text-align: center;
}

.myBackground{
    width: 300px;
    height: 250px;
    background-image: url("./notes.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#top-bar{
  width:100%;
  height: 30px;
  position: absolute;
}
